body {
    font-family: sans-serif, Courier, monospace;
    background: rgb(244, 237, 237);
    margin: 0px;
    width: 200px;
}

.pop-up{
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-weight: bolder;
    font-family: sans-serif, Courier, monospace;
    white-space : nowrap;
    text-align: center;
}

h3 {
    margin-bottom: 5px;
}


.main-button{
    border-radius: 5px;
    border-width: 1px;
    font-size: 12px;
    font-family: sans-serif, Courier, monospace;
    background-color : aqua;
    color: black;
    font-weight: 550;
    padding: 5px;
}

.main-button:hover {
    background-color: lightblue;
    transition: all 0.2s ease-in-out;
}
.font-field,
.size-field,
.color-field{
    width: 90%;
}

#font-size-slider {
    width: 100%;
}